<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Товары</title>
</head>
<body>
    <div>
        <h3>Список</h3>
        <table>
            <tr>
                <td><p>Наименование</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            {% for p in products %}
                {% if p.promid == null or p.promid.pk == request.session.promo %}
                    <tr>
                        <td><p>{{ p.name }}</p></td>
                        <td><p>{{ p.price }}</p></td>
                        <td><p><a href="/buy/{{ p.id }}">Купить</a></p></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <a href="/promocode/">Ввести промокод</a>
    </div>
</body>
</html>
