<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Промокод</title>
</head>
<body>
    <div>
        <form method="post">{% csrf_token %}
            <table>
                <tr>
                    <td><p>Введите промокод </p></td>
                    <td><input type="text" name="number" /> </td>
                </tr>
                <tr><td><input type="submit" value="Применить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
